{% extends "_layouts/default.html" %}

{% block custom_head %}

	<link href="/static/css/lightbox.css" rel="stylesheet" />
	<link rel="stylesheet" href="/static/css/d3_exploding_boxplot.css" />
	<script src="/static/js/d3.tip.v0.6.js"></script>
	<script src="/static/js/d3_exploding_boxplot.js"></script>
	<script src="https://unpkg.com/jspdf@1.4.1/dist/jspdf.debug.js"></script>
	<script src="https://html2canvas.hertzen.com/dist/html2canvas.min.js"></script>
	<script type="text/javascript" src="static/js/FileSaver.min.js"></script>
	<style type="text/css">
		.rounded {
			font-family: Helvetica, Tahoma, Geneva, sans-serif;
			text-decoration:none;
			border-radius: 30px 30px 30px 30px;
			font-weight: bold;
			display:inline-block;
		}
		.btn.clicked {
			background: #44A9FC;
		}
		table, th, td {
			border: 1px solid black;
		}
	</style>

{% endblock %}


{% block content %}

<div><button id="pdd" type="button" class="btn btn-secondary" onClick='getPDF("containerfluid")'>PDF</button></div> <!-- createPDF() getPDF("containerfluid") -->
<div id="dataContainer" class="container-fluid" style="margin-right: -50px; margin-left: 50px; margin-top: -20px; padding-left: 30px; padding-right: 50px; padding-top: 40px;">
	
	<h4 style="text-align: center;"><b> Heritability Calculator </b></h4>
	<p align=" justify">
	This tool will calculate the broad-sense heritability for your trait of interest using a set of <i>C. elegans</i> wild
	isolates. The broad-sense heritability is the amount of trait variance that comes from genetic differences in the
	assayed group of strains. Generally, it is the ratio of genetic variance to total (genetic plus environmental)
	variance.
	</p>
	<br />
	<br />
	<div id="htresarea"></div>
	<br />
	<br />
</div>
<div id="containerfluid">
	<div ><button id="ppg" onClick='ppage()'>Previous</button><button id="npg" onClick='npage()'>Next</button></div>
	<div id="svgchartarea"></div>
	<canvas id="canvas" ></canvas> <!-- width="900" height="400"></canvas -->
	<div id="png-container"></div>
	
</div>
<div class="row" id = "go1t" >
	<table id="example" class="display" style="width:100%">
        <thead>
            <tr>    
                <th style="text-align:center;font-weight: bold;">AssayNumber</th>
                <th style="text-align:center;font-weight: bold;">Strain</th>
                <th style="text-align:center;font-weight: bold;">TraitName</th>
                <th style="text-align:center;font-weight: bold;">Replicate</th>
                <th style="text-align:center;font-weight: bold;">Value</th>
            </tr>
        </thead>
		<tbody>
		<!-- add jinja template to fill table-->
		{% for i in range(0,res|length) %}
            <tr><td style="text-align:center;"> {{ res[i][0] }} </td><td style="text-align:center;"> {{ res[i][1] }} </td><td style="text-align:center;"> {{ res[i][2] }} </td><td style="text-align:center;"> {{ res[i][3] }} </td><td style="text-align:center;"> {{ res[i][4] }} </td></tr>
        {% endfor %}
		</tbody>
    </table>
	</div>
	
{% endblock %}

{% block script %}

<script>
Element.prototype.remove = function() {
		this.parentElement.removeChild(this);
	}
NodeList.prototype.remove = HTMLCollection.prototype.remove = function() {
		for(var i = this.length - 1; i >= 0; i--) {
			if(this[i] && this[i].parentElement) {
				this[i].parentElement.removeChild(this[i]);
			}
		}
	}

var trait = "{{ trait }}"
var XX = ""+"{{ XX }}"
var X = ""+"{{ X }}"
var Y = ""+"{{ Y }}"
var Fnam = "{{ fnam }}"
var imag
var chartJson = JSON.parse({{ cdt|tojson|safe }});
var traits =[];
var img, ctx, canvs;
var maxP = 1;
var minP = 1;
var curP = 1;
var strn = [];

var sortByProperty = function(property){
   return function(a,b){
      if(a[property] > b[property])
         return 1;
      else if(a[property] < b[property])
         return -1;

      return 0;
   }
}

var ppage = function(){
	curP= (curP===1)? 1:curP-1;
	loadPlot(curP);
}

var npage = function(){
	curP= (curP===maxP)?maxP:curP+1;
	loadPlot(curP);
}

function range(start, end){
	if (start===end){return ([start,]);}
	if (start<end){return ([start, ...range(start + 1, end)]);}
	if (end<start){return ([start, ...range(start - 1, end)]);}
}

function getRandomColor() {
	var letters = '123456789ABCDEF'.split('');
	var color = '#';
	for (var i = 0; i < 6; i++ ) { 
	        color += letters[Math.round(Math.random() * 14)];
	}
	return color;
}

var cpal = []
var loadPlot = function(jj){
	df = [];
	//console.log(jj);
	//console.log(range(25*jj, 25*(jj+1)));
	//console.log([strn.indexOf(d['s']), range(25*(jj), (25*(jj+1)-1))]);
	ran = range(25*(jj-1), (25*(jj)-1));
	chartJson.forEach(function(d,i){if (ran.indexOf((strn.indexOf(d['s'])))>-1){df.push(d);}});
	UniqueNames= $.unique(chartJson.map(function (d) {return d.a;}));
	if (cpal.length == 0){
	    for (var cc=0; cc<UniqueNames.length; cc++){cpal.push(getRandomColor())};
	}
	//console.log(df.length);
	var chart = d3.exploding_boxplot(df, {y:'v',group:'s',color:'a',label:'t', pal:cpal})
	document.getElementById("svgchartarea").innerHTML = "";
	chart('#svgchartarea')
}

async function drawImg(canvas, image, DOMURL, w, h){

    return new Promise(resolve => {

          image.onload = function () {
				var ctx = canvas.getContext("2d");
				ctx.fillStyle = "#FFFFFF";
				ctx.fillRect(0, 0, w, h);
                ctx.drawImage(image, 0, 0, w, h);
				var png = canvas.toDataURL("image/jpg",1);
				imag = png
				document.getElementById('png-container').innerHTML = '<img id="img1" src="'+png+'"/>';
				DOMURL.revokeObjectURL(png);
				console.log(this.complete);
	if (this.complete){
	imag = this.src

	}
                resolve('resolved');
             }

    });

  }
  
var loadCanvas = function(){
	var svgString = new XMLSerializer().serializeToString(document.querySelector('svg'));

	var canvas = document.getElementById("canvas");
	canvas.width = 1000; 
	canvas.height = 480; 
	var ctx = canvas.getContext("2d");
	var DOMURL = self.URL || self.webkitURL || self;
	image = document.createElement("IMG"); 
	var svg = new Blob([svgString], {type: "image/svg+xml;charset=utf-8"});
	var url = DOMURL.createObjectURL(svg);

	drawImg(canvas, image, DOMURL, 1000, 480).then(() => {
	
	var doc = new jsPDF('p', 'px', 'a4');
	var source = document.getElementById('dataContainer'); 
	margins = {
      top: 40,
      bottom: 40,
      left: 40,
      width: 522
    };
		doc.setFontSize(16);
		doc.text(doc.internal.pageSize.getWidth()/2, 50, 'Heritability Calculator', {'align': 'center'});
		//doc.fromHTML('This tool will calculate the broad-sense heritability for your trait of interest using a set of <i>C. elegans</i> wild isolates.', 20, 70)
		doc.fromHTML('The broad-sense heritability is the amount of trait variance that comes from genetic differences in the assayed group ', 20, 85, {'align': 'justify', 'maxWidth': doc.internal.pageSize.getWidth()-40},function(){},margins)
		doc.fromHTML('of strains. Generally, it is the ratio of genetic variance to total (genetic plus environmental) variance.', 20, 100, {'align': 'justify', 'maxWidth': doc.internal.pageSize.getWidth()-40},function(){},margins)
		doc.fromHTML('Broad-sense heritability (<i> H</i>', 20, 120) 
		doc.setFontSize(4);
		doc.fromHTML('<i>2</i>', 123, 115)
		doc.setFontSize(10);
		doc.fromHTML(') = {{ XX }}% (range {{ X }}% to {{ Y }}%)', 130, 120)
		doc.fromHTML('Trait: {{ trait }}', 20, 140)
		
		doc.addImage(document.getElementById('img1').src, 'JPEG', 10, 170, 430,200, NaN, 'FAST');
		
	var a = document.createElement('a');
		 var pdfblob = new Blob([ doc.output('blob') ], { type : 'application/pdf'});
		 a.href = window.URL.createObjectURL(pdfblob);
		 a.download = "{{ fnam }}.pdf";
		 a.click();
	})
	image.src = url;
	document.getElementById("svgchartarea").remove();
	document.getElementById('canvas').remove();
	location.reload();
}

  
var getPDF = function(){
	loadCanvas();

}

$(document).ready(function(){
	if (chartJson.length != 0){
		var node= document.getElementById("svgchartarea");
		node.querySelectorAll('*').forEach(n => n.remove());
		newPt = document.createElement("p")
		newPt.innerHTML = "Broad-sense heritability (<i> H<sup>2</sup> </i>) = {{ XX }}% (range {{ X }}% to {{ Y }}%)";
		document.getElementById("htresarea").appendChild(newPt);
		newPt = document.createElement("p")
		newPt.appendChild(document.createTextNode("Trait: " + "{{ trait }}"));
		document.getElementById("htresarea").appendChild(newPt);
	
		// chart(data,aes)
		// aesthetic :
		// y : point's value on y axis Value
		// group : how to group data on x axis Strain
		// color : color of the point / boxplot AssayNumber
		// label : displayed text in toolbox AssayNumber_Strain_Replicate : Value
	
		chartJson.sort(sortByProperty("s"));
		chartJson.forEach(function(d,i){chartJson[i]["v"] = parseFloat(d["v"]); if (strn.indexOf(d['s'])==-1){strn.push(d['s']);}});
		maxP = ((strn.length % 25) > 0) ? parseInt(strn.length / 25)+1 : parseInt(strn.length / 25);

		//call chart on a div
		//chart('#svgchartarea')
		loadPlot(1);

	}else{
		newPt.appendChild(document.createTextNode("Chart data is empty!"));
	}
})

$( document ).ready(function() {
	$("a[href^='http://'], a[href^='https://'], a[href$='pdf']").attr("target","_blank");
});
</script>


{% endblock %}
